# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Mac or Windows system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env
